<!--<div class="row-fluid">-->
    <!--<div class="span2" id="sidebar">-->
        <!--<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">-->
            <!--{volist name="menuList" id="vo"}-->
            <!--<li  class= "{if $vo.url && url() == url($vo.url)} active {/if} dropdown">-->
                <!--<a href="{:url($vo.url)}" role="button" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-chevron-right"></i> {$vo.name}</a>-->
            <!--</li>-->
            <!--{/volist}-->
        <!--</ul>-->
    <!--</div>-->
<!--<div class="span10" id="content">-->

    <div class = "col-2">
        {volist name="menuList" id="vo"}
        <!--<li  class= "{if $vo.url && url() == url($vo.url)} active {/if} dropdown">-->
            <!--<a href="{:url($vo.url)}" role="button" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-chevron-right"></i> {$vo.name}</a>-->
        <!--</li>-->
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="{if $vo.url}{url($vo.url)}{else /}menu_{$vo.id}{/if}">
                    {$vo.name}
                </a>
            </div>
            <!--<div id="collapseOne" class="collapse show" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                    <!--#1 内容：菜鸟教程 &#45;&#45; 学的不仅是技术，更是梦想！！！-->
                <!--</div>-->
            <!--</div>-->
        </div>
        {/volist}
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    选项一
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    #1 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    选项二
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    #2 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    选项三
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    #3 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                </div>
            </div>
        </div>
    </div>
